.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 7.5vh;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
}

.even-stevens {
  height: 43px;
  width: 56px;
}

.toolbar #instagram-logo {
  height: 40px;
  margin: 0 16px;
  fill: white;
}

.toolbar #instagram-logo:hover {
  opacity: 0.8;
  fill: black;
}