:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  height: 5vh;
}

.greeting-card {
  display: flex;
  margin-top: 5vh;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sport-cards {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.weather-card {
  display: flex;
  margin-bottom: 5vh;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0vh;
    height: 5vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #762bd8;
    color: white;
    font-weight: 600;
}
