:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.sport-cards {
    padding-top: 30vh;
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: baseline;
}

.weather-card {
    margin-top: 0vh;
    display: flex;
    height: 42.5vh;
    justify-content: center;
    align-items: baseline;
}

.toolbar,
.sport-cards,
.weather-card {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7.5vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #762bd8;
    color: white;
    font-weight: 600;
}

// Mobile device
@media (max-width: 512px) {
    .sport-cards {
        padding-top:10vh;
        display: flex;
        height: 450px;
        justify-content: center;
        align-items: baseline;
    }

    .weather-card {
        display: flex;
        margin-bottom: 50px;
        height: 400px;
        justify-content: center;
        align-items: baseline;
    }

    .footer {
        display: none;
    }
}
