.card {
    border-radius: 20px;
    background-color: white;
    height: 40px;
    width: 200px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card.highlight-card {
    background-color: #444444;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

img#beach {
    width: 40px;
    position: absolute;
    left: 20px;
}
