.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 20px;
    height: 60px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s;
    line-height: 24px;
    background-color: #424242;
}

.card-green {
    background-color: #2bd879;
}

.card-orange {
    background-color: #d88d2b;
}

.card-red {
    background-color: #d82b2b;
}

.card-white {
    background-color: white;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    box-shadow: 0px 40px 17px rgba(black, 0.35);
}

.card-text {
    display: block;
}

.circular-chart {
  height: 50px;
  width: 50px;
}

.circle-bg {
  fill: none;
  stroke: #762bd8;
  stroke-width: 3;
}

.circle {
  fill: none;
  stroke: white;
  stroke-width: 4;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.percentage {
  fill: white;
  font-family: sans-serif;
  font-size: 0.7em;
  text-anchor: middle;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
