<div class="card-container">

    <div *ngIf="sports.length === 0; then loading else loaded"></div>

    <ng-template #loading>

        <div *ngFor="let i of [0,1,2]">
            <app-loading-card></app-loading-card>
        </div>

    </ng-template>

    <ng-template #loaded>

        <div *ngFor="let sport of sports">
            <a class="card" [ngClass]="ratingClass(sport.rating)">
                <img *ngIf="isKiting(sport.name)" src="../../assets/kite.svg">
                <img *ngIf="isSurfing(sport.name)" src="../../assets/surfing.svg">
                <img *ngIf="isClimbing(sport.name)" src="../../assets/climbing.svg">
                <span class="card-text">
                    Rating: {{sport.rating * 100 | number:'.0-0'}} 
                </span>
            </a>
        </div>

    </ng-template>
</div>