<div class="card-container">
    <div *ngIf="sports.length > 0; then serverUp else serverDown"></div>
    <ng-template #serverUp>
        <div *ngFor="let sport of sports">
            <a class="card" [ngClass]="ratingClass(sport.rating)">
                <img *ngIf="isKiting(sport.name)" src="../../assets/kite.svg">
                <img *ngIf="isSurfing(sport.name)" src="../../assets/surfing.svg">
                <img *ngIf="isClimbing(sport.name)" src="../../assets/climbing.svg">
                <span class="card-text">
                    Rating: {{sport.rating * 10 | number:'.0-0'}} 
                </span>
            </a>
        </div>
    </ng-template>
    <ng-template #serverDown>
        <a class="card server-down-card">
            <span class="card-text">
                Masekind
            </span>
        
            <img src="../../assets/server-down.svg">

            <span class="card-text">
                Can't reach sport service!
            </span>
        </a>
    </ng-template>
</div>