.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 16px;
}

.card {
    border-radius: 20px;
    height: 60px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s;
    line-height: 24px;
}

.card:hover {
    height: 200px;
}

.card-green {
    background-color: #2bd879;
}

.card-orange {
    background-color: #d88d2b;
}

.card-red {
    background-color: #d82b2b;
}

.card-white {
    background-color: white;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    box-shadow: 0px 40px 17px rgba(black, 0.35);
}

.weather-text {
    display: none;
}

.card:hover .weather-text {
    display: block;
}

#server-down {
  height: 100px;
}
