<div class="card-container">

    <div *ngIf="weather === null; then loading else loaded"></div>

    <ng-template #loading>

        <div *ngFor="let i of [0,1,2]">
            <app-loading-card></app-loading-card>
        </div>

    </ng-template>

    <ng-template #loaded>

        <div>
            <a class="card">
                <img src="../../assets/weather.svg">
                <span class="card-heading">
                    Weather
                </span>
                <span class="card-text">
                    {{ weather.climateInfo.description }}
                </span>
                <span class="card-text">
                    {{ weather.climateInfo.temp }} degrees celsius
                </span>
                <span class="card-text">
                    Cloud cover: {{ weather.climateInfo.rain }}
                </span>
                <span class="card-text">
                   Rain: {{ weather.climateInfo.rain }}%
                </span>
                <span class="card-text">
                    Last updated: {{ weather.climateInfo.date | date: 'hh:mm'}}
                </span>
            </a>
        </div>
        <div>
            <a class="card">
                <img src="../../assets/wind.svg">
                <span class="card-heading">
                    Wind
                </span>
                <span class="card-text">
                    Average: {{ weather.windInfo.avg }} knots
                </span>
                <span class="card-text">
                    Low: {{ weather.windInfo.high }} knots
                </span>
                <span class="card-text">
                    High: {{ weather.windInfo.low }} knots
                </span>
                <span class="card-text">
                    Direction: {{ weather.windInfo.direction }}
                </span>
                <span class="card-text">
                    Last updated: {{ weather.windInfo.date | date: 'hh:mm'}}
                </span>
            </a>
        </div>
        <div>
            <a class="card">
                <img src="../../assets/wave.svg">
                <span class="card-heading">
                    Wave
                </span>
                <span class="card-text">
                    Wave Height (swell): {{ weather.waveInfo.waveSize }} feet
                </span>
                <span class="card-text">
                    Period: {{ weather.waveInfo.wavePeriod }}s
                </span>
                <span class="card-text">
                    Last updated: {{ weather.waveInfo.date | date: 'hh:mm'}}
                </span>
            </a>
        </div>

    </ng-template>

</div>
