<div class="card-container">
    <div *ngIf="weather !== null; then serverUp else serverDown"></div>
    <ng-template #serverUp>
        <div>
            <a class="card">
                <span class="card-heading">
                    Weather
                </span>
        
                <img src="../../assets/weather.svg">
        
                <span class="card-text">
                    {{ weather.climateInfo.description }}
                </span>
                <span class="card-text">
                    {{ weather.climateInfo.temp }} degrees celsius
                </span>
                <span class="card-text">
                    Cloud cover: {{ weather.climateInfo.rain }}
                </span>
                <span class="card-text">
                   Rain: {{ weather.climateInfo.rain }}%
                </span>
                <span class="card-text">
                    Last updated: {{ weather.climateInfo.date | date: 'hh:mm'}}
                </span>
            </a>
        </div>
        <div>
            <a class="card">
                <span class="card-heading">
                    Wind
                </span>
            
                <img src="../../assets/wind.svg">
            
                <span class="card-text">
                    Average: {{ weather.windInfo.avg }} knots
                </span>
                <span class="card-text">
                    Low: {{ weather.windInfo.high }} knots
                </span>
                <span class="card-text">
                    High: {{ weather.windInfo.low }} knots
                </span>
                <span class="card-text">
                    Direction: {{ weather.windInfo.direction }}
                </span>
                <span class="card-text">
                    Last updated: {{ weather.windInfo.date | date: 'hh:mm'}}
                </span>
            </a>
        </div>
        <div>
            <a class="card">
                <span class="card-heading">
                    Wave
                </span>
            
                <img src="../../assets/wave.svg">
            
                <span class="card-text">
                    Wave Height (swell): {{ weather.waveInfo.waveSize }} feet
                </span>
                <span class="card-text">
                    Period: {{ weather.waveInfo.wavePeriod }}s
                </span>
                <span class="card-text">
                    Last updated: {{ weather.waveInfo.date | date: 'hh:mm'}}
                </span>
            </a>
        </div>
    </ng-template>
    <ng-template #serverDown>
        <a class="card server-down-card">
            <span class="card-text">
                Masekind
            </span>
    
            <img src="../../assets/server-down.svg">
    
            <span class="card-text">
                Can't reach weather service!
            </span>
        </a>
    </ng-template>
</div>